html {
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    /*    display:;*/
}

*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'ArialNarrow';
    src: url('fonts/ArialNarrow.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'NeueHaas';
    src: url('fonts/NHaas.otf');
    /* IE9 Compat Modes */
}

/* unvisited link */
a:link {
    color: darkgreen;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: blue;
}

.blog {
    position: fixed;
    /*    margin-top: 9%;*/
    /*    border-top: 1px solid black;*/
    width: 19%;
    height: auto;
    bottom: 0;
    overflow: auto;
}

.blog p strong {
    font-family: Helvetica, sans-serif;
}

.blog p {
    font-family: 'NeueHaas', sans-serif;
    font-size: 14px;
    color: darkgreen;
}

.blog img {
    width: 100%;
}

.container {
    position: absolute;
    width: 40%;
    height: 98%;
    top: 0;
    left: 20%;
    padding-top: 1vw;
    padding-right: 1%;
    /*    display:;*/
    overflow: auto;

    /*     grid-gap: 10px ;*/

    grid-template-columns: 50%;



}


.round-border {
    border-color: blue;
    padding-left: 10px;
    padding-top: 0px;
    margin-bottom: 5px;
    width: 72%;
    font-size: 29px;
    border-left: 1px solid black;
    padding-bottom: 20px;
}

.round-border div {
    width: 89%;
    height: auto;

}

.round-border p {
    margin: 0;
}

video {

    width: 100%;
    height: auto;

}


h2 {
    margin: 0px;
    font-family: 'NeueHaas', sans-serif;
    font-size: 1.5vw;
}

p {
    font-family: 'NeueHaas', sans-serif;
    font-size: 1.2vw;

}

button {
    font-family: "NeueHaas", sans-serif;
    font-size: 1.4vw;

    border: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid black;
    /*    border-bottom: 0.1px solid black;*/
    background-color: transparent;
    color: black;
    outline: none;
    /*    margin-top: 0.5px;*/
    /*    margin-bottom: 5px;*/
    /*
    text-shadow:
    -0.3px  0 #000,
    0.3px  0 #000,
    -0.3px  0 #000,
    0.3px 0 #000;
*/
}

button:hover {
    font-style: italic;
}

.dropdown-container img {
    position: relative;
    margin-top: 2%;
    /*   left:50%;*/

}

.dropdown-container {
    margin-bottom: 4%;
}

.dropdown-container p {
    width: 106%;
    padding-left: 7%;
    font-size: 1.2vw;
}




#lastitem {
    position: fixed;
    top: 10px;
    width: 22%;
    margin: 0px;
    /*     display: inline-grid;*/

}

#lastitem_mobile {
    display: none;
}

#lastitem_phone {
    display: none;
}

#lastitem p {
    font-family: NeueHaas, sans-serif;
    /*    font-size: 1.5vw;*/
    position: fixed;
    top: 10px;
    width: 19%;
    margin: 0px;
    /*     display: inline-grid;*/


}



.popup {

    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    width: 47%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: black;
    display: none;
    box-shadow: 5px 10px 18px #888888;
    z-index: 3;
    padding-left: 10px;
    padding-right: 10px;
}

.popup p {
    font-family: "NeueHaas";
    font-size: 1vw;
    color: black;
}

.popup2 {

    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    width: 47%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: black;
    z-index: 3;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid black;
}

#popup-reality {
    background-color: white;
}

#popup-thesis p {
    font-size: 50px;
}

#popup-thesis iframe {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#popup-reality p {
    font-size: 1.5vw;
    font-family: "NeueHaas";
    margin: 5.5%;
    /*    text-align: center;*/
}

#popup-3d {
    width: 100%;
}

#popup-objects {
    background-image: url("img/posters/expoposters/water.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;

    /*    min-width: 100%;*/
    /*    min-height: 100%;*/
    width: auto;
    /*    height: auto; */
    z-index: -100;
    display: flex;
    background-size: cover;
    overflow: hidden;
}

.center {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 60%;


}

.popup .artwork {
    width: 100%;
}



.popup .artwork2 {
    position: static;
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 5%;
    -webkit-box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
}

.popup .artwork3 {
    position: static;
    width: 60%;
    display: block;
    margin: auto;
    /*    margin-top: 5%;*/
    -webkit-box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
}

.popup .artwork4 {
    position: static;
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
}

.popup .artwork5 {
    position: static;
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 12px 1px rgba(0, 0, 0, 0.75);
}

.popup .artwork6 {
    position: static;
    float: left;
    margin: 4px;
/*    width: 60%;*/
    display: block;
}

.close-button {
    width: 7.5vw;
    height: 8%;
    position: fixed;
    float: right;
    right: 6px;
    top: 0;
    background: url("img/close_button.png") no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 999999;
}

.menu-item img {
    cursor: zoom-in;
}

.topbar {
    display: none;
}


@media only screen and (max-device-width: 800px) {
    .popup {
        display: block;
        width: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: none;
        padding: 0;
    }

    #lastitem_mobile {
        display: none;
    }

    #lastitem_phone {
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
        display: block;
        position: absolute;
        z-index: 999999;
        background-color: white;
        width: 100%;
        top: 0;
        left: 0;
        padding-left: 10px;
        font-size: 20px;
    }

    p {
        font-size: 2.2vw;
        column-count: 2;
    }
    
    .popup .artwork6 {
    margin: 0.5vw;
}

    .popup2 {
        display: none;
    }


    .container {
        display: block;
        width: 100%;
    }

    html {
        overflow: scroll;
        box-sizing: border-box;
        background-color: black;
    }

    #myVideo {
        display: none;
    }

    .close-button {
        display: none;
    }

    .blog {
        display: none;
    }


}

@media only screen and (max-width: 800px) {
    .popup {
        display: block;
        top: 45px;
        width: 100%;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        box-shadow: none;
        padding: 0;
    }

    #lastitem_mobile {
        display: none;
    }

    #lastitem_phone {
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  
        display: block;
        position: absolute;
        z-index: 999999;
        background-color: white;
        width: 100%;
        top: 0;
        left: 0;
        padding-left: 10px;
    }

    p {
        font-size: 2.2vw;
        column-count: 2;
    }

     .popup .artwork6 {
    margin: 0.5vw;
}
    
    .popup2 {
        display: none;
    }

    .container {
        display: block;
        width: 100%;
    }

    html {
        overflow: scroll;
        box-sizing: border-box;
        background-color: black;
    }

    #myVideo {
        display: none;
    }

    .close-button {
        display: none;
    }

    .blog {
        display: none;
    }


}

@media only screen and (max-width: 1200px) {
    .blog {
        display: none;
    }

    #lastitem {
        display: none;

    }

    #lastitem_mobile {
        display: block;
        /*        position: fixed;*/
        top: 0px;
        width: 100%;
        margin: 0 auto;
        padding-left: 10%;
    }

    #lastitem_mobile p {
        font-size: 1.5vw;
    }

    #lastitem p {
        font-family: NeueHaas, sans-serif;
        float: left;
        top: 10px;

    }

    .container {
        position: absolute;
        float: left;
        left: 0px;
        padding-top: 0;
        /*        top: 10%;*/
        width: 48%;
        height: 100%;
        display: block;


    }

    .round-border {
        width: 100%;
        padding-bottom: 20px;
    }

    .nav-toggle {
        font-size: 2.3vw;
        text-align: left;
    }

    .dropdown-container p {
        width: 90%;
        padding-left: 7%;
        font-size: 2vw;
    }

}

@media only screen and (max-device-width: 1200px) {
    .blog {
        display: none;
    }

    #lastitem {
        display: none;

    }

    #lastitem_mobile {
        display: block;
        /*        position: fixed;*/
        top: 0px;
        width: 100%;
        margin: 0 auto;
        padding-left: 10%;
    }

    #lastitem_mobile p {
        font-size: 1.5vw;
    }

    #lastitem p {
        font-family: NeueHaas, sans-serif;
        float: left;
        top: 10px;

    }

    .container {
        position: absolute;
        float: left;
        left: 0px;
        padding-top: 0;
        /*        top: 10%;*/
        width: 48%;
        height: 100%;
        display: block;


    }

    .round-border {
        width: 100%;
        padding-bottom: 20px;
    }

    .nav-toggle {
        font-size: 2.3vw;
        text-align: left;
    }

    .dropdown-container p {
        width: 90%;
        padding-left: 7%;
        font-size: 2vw;
    }
}
